# API
API_PORT=3333

# Gemini
GEMINI_API_KEY=AIzaSyDa1w60p8WIy3ZbVhUn9bzipiB0d-Z0l5w

# PostgreSQL DB
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_PORT=


DATABASE_URL="postgresql://DB_USERNAME:DB_PASSWORD@pg:5432/DB_NAME?schema=public"